<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="
    r">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_CORSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="com.rndtechnosoft.fynder.FynderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.rndtechnosoft.fynder.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rndtechnosoft.fynder.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"
            />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.rndtechnosoft.fynder.activity.Login2Activity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.rndtechnosoft.fynder.activity.AboutActivity"
            android:label="@string/action_about"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.rndtechnosoft.fynder.activity.ConfirmationActivity"
            android:label="@string/action_confirmation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.rndtechnosoft.fynder.activity.RegisterActivity"
            android:label="@string/action_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rndtechnosoft.fynder.activity.LoginActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullyTranslucent"
            tools:replace="android:theme" />
        <activity
            android:name="com.rndtechnosoft.fynder.activity.NearbyHomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.rndtechnosoft.fynder.activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.rndtechnosoft.fynder.activity.CameraActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="com.rndtechnosoft.fynder.activity.SettingsActivity"
            android:label="@string/action_settings"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rndtechnosoft.fynder.activity.NearbyHomeActivity" />
        </activity>
        <activity
            android:name="com.rndtechnosoft.fynder.activity.ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rndtechnosoft.fynder.activity.SettingsActivity" />
        </activity>
        <activity
            android:name="com.rndtechnosoft.fynder.activity.RoomActivity"
            android:label="@string/title_activity_room"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rndtechnosoft.fynder.activity.NearbyHomeActivity" />
        </activity>

        <activity
            android:name="com.rndtechnosoft.fynder.activity.ContactActivity"
            android:label="@string/title_activity_contact"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rndtechnosoft.fynder.activity.NearbyHomeActivity" />
        </activity>
        <activity
            android:name="com.rndtechnosoft.fynder.activity.FindFriendsActivity"
            android:label="@string/title_activity_find_friends"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rndtechnosoft.fynder.activity.NearbyHomeActivity" />
        </activity>
        <activity
            android:name="com.rndtechnosoft.fynder.activity.FullProfileImageActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.rndtechnosoft.fynder.activity.FullChatImageActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.rndtechnosoft.fynder.activity.SingleChatActivity"
            android:label="@string/title_activity_single_chat"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.rndtechnosoft.fynder.activity.PreviewImageActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.FullScreen" />

        <service android:name="com.rndtechnosoft.fynder.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.rndtechnosoft.fynder.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.rndtechnosoft.fynder.activity.SendImageActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <service android:name=".utility.GPSTracker"/>

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="${clevertapId}"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="${clevertapToken}"/>

        <receiver
            android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="ic_notification"/>

        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"/>

        <!-- uncomment below block to ensure in-app notification isn't shown on a splash screen -->
        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="com.rndtechnosoft.fynder.activity.SplashActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricKey}"
            />

    </application>

</manifest>